[telegram]
bot_token = ''
files_chat = 0
admin_id = 0

[local]
db_path = 'db.db'
app_id = 'ANY-MUSIC-BOT'

[tokens.spotify]
client_id = ''
client_secret = ''

[tokens.deezer]
arl = ''

[tokens.soundcloud]
client_id = ''

[tokens.genius]
client_acces = ''
